body, html{
	width:430px;
	background-color: #f6f9fc;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:13px;
}

#wrapper {
	position:relative;
	padding:0 10px;
}

#wrapper table {
	border-collapse:collapse;
}

#wrapper table tr td {
	padding:0 0 5px 0;
}

#wrapper table tr td.label {
	width:135px;
}
#wrapper table tr td.input {
	width:280px;
}

input, select {
	width:calc(100% - 12px);
	padding:5px;
	border-radius:4px;
	border:1px solid #7c9f9d;
}

select {
	width:100%;
	background-color:white;
	-webkit-appearance:none;
}

#search input {
	border:none;
}

#buttons {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

#buttons .button {
  	flex: 1;
}

.button {
	margin:10px 0 10px 0;
	color:white;
	padding:15px;
	border-radius:4px;
	text-align:center;
	cursor:pointer;
	background-color:#056d59;
}

#search .button {
	margin:15px 0 20px 0;
	padding:10px;
}

#map {
	width:100%;
	height:305px;
	margin:5px 0 10px 0;
	border-radius:4px;
}

#showsearchpanel {
	z-index: 10;
	position:absolute;
	top:9px;
	right:19px;
	padding:5px;
	background-color: #7c9f9d;
	border-radius:4px;
	color:white;
	font-size:13px;
	text-align:center;
	cursor:pointer;
}

#showendpointspanel {
	padding:5px;
	background-color:#7c9f9d;
	border-radius:4px;
	color:white;
	font-size:13px;
	text-align:center;
	cursor:pointer;
}

#search, #endpoints {
	z-index: 20;
	position:absolute;
	display:none;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	padding:15px;
	background-color: rgba(0,0,0,0.85);
}

#search h2 {
	color:white;
	text-align:center;
	margin-bottom:15px;
}

#endpoints h2 {
	color:white;
	text-align:center;
	margin-bottom:5px;
}

#endpoints div {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

#endpoints div * {
	flex: 1;
}

#endpoints div p {
	color:white;
}

#search ul {
	list-style-type: none;
}

#search ul li {
	display:block;
	padding:5px 8px;
	margin-bottom:5px;
	color:white;
	cursor:pointer;
	background-color:black;
	border-radius:4px;
}

p.cancel {
	position:absolute;
	bottom:15px;
	right:15px;
	color:white;
	text-align:right;
	cursor:pointer;
}